<% content_for(:title, "Links | HackerNewsClone") %>

<h1>Hacker News Clone</h1>
<h2>Links</h2>

<ul>
  <% @links.each do |link| %>
  <li><a href="/links/<%= link.id %>"><%= link.name %></a></li>
  <% end %>
</ul>


<%= link_to "Add a new link", new_link_path, :class=> "btn btn-default" %>
